<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
       
         <p>
          <strong>我的微信公众号</strong>：<a href="/assets/images/jiaduowechat.png" target="_blank">技术原始积累</a>
           <img src="/assets/images/gracewebchat.jpeg" >
        <div>“探讨技术，品味生活，思考人生” ,欢迎关注</div>
        </p>

     
        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>Dreamerbaba15</strong></li>
        </ul>

    </div>
</div>
