<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="http://favorites.ren/assets/images/{{ page.copyright }}.jpg" >
         <br/>
         微信扫描二维码，关注我的公众号
        {% else %}
         <img src="/assets/images/jiaduowechat.png" >
         <br/>
         微信扫描二维码，关注获取第一手技术分享
        {% endif %}

   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="/index.html">加多-技术原始积累</a>）</strong>
   </p>
  
</div>
